<div class="footer__top">
	<div class="container">
		<div class="linkBlock">
			<ul class="list">
				<h2 class="list__title">SOCIALS</h2>
				<li class="list__item">
					<a href="#" class="list__link">Facebook</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Flickr</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Twitter</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Vimeo</a>
				</li>
			</ul>
			<ul class="list">
				<h2 class="list__title">LINKS</h2>
				<li class="list__item">
					<a href="#" class="list__link">How to Write a Blog</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Create a Blog in 4 Steps</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">15 Tips to Increase Traffic</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">20 Blog Post Ideas</a>
				</li>
			</ul>
			<ul class="list">
				<h2 class="list__title">BLOGROLL</h2>
				<li class="list__item">
					<a href="#" class="list__link">Blogs Blog</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Roll Up Roll Up</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Blog Free</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Wordpress Blog</a>
				</li>
			</ul>
			<ul class="list">
				<h2 class="list__title">ABOUT US</h2>
				<li class="list__item">
					<a href="#" class="list__link">Agriculture</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Harvest</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Company news</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">Investor relations</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="footer__bottom">
	<div class="container">
		<div class="contactsBlock">
			<div class="contacts">
				<span class="contacts__icon icon-location"></span>
				<span class="contacts__adress">BuildHomeLtd.  Street Name 123 &nbsp;&nbsp;23 45 Cityname</span>
				<a class="contacts__tel" href="tel:+123900123456"><span class="contacts__icon icon-iPhonepotrait"></span>+123 900 123 456</a>
				<a class="contacts__email" href="mailto:info@buildhome.web"><span class="contacts__icon icon-frontemail"></span>info@buildhome.web</a>				
			</div>
			<span class="copyright">&copy; 2014 Build Home</span>
			
		</div>
	</div>
</div>