<div class="container">
<div class="mainBlock">
	<div class="newsBlock">
		<h1 class="newsBlock__title">Latests News</h1>
		<div class="news">
			<div class="news__img">
				<img src="img/news1.jpg" alt="news">
				<div class="date">
					<span class="date__month">Jan</span>
					<span class="date__day">23</span>
				</div>
			</div>
			<div class="news__item">
				<a href="#" class="news__title">Advanced Machinery Helps Improve Quality</a>
				<div class="news__info">by <a href="#" class="author">cmsmasters</a> Comments(<a href="#" class="comments">6</a>)</div>
				<div class="news__text">
					<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>
			</div>
		</div>
		<div class="news">
			<div class="news__img">
				<img src="img/news2.jpg" alt="news">
				<div class="date">
					<span class="date__month">Jan</span>
					<span class="date__day">21</span>
				</div>
			</div>
			<div class="news__item">
				<a href="#" class="news__title">Powerful Techniques for Advanced Service</a>
				<div class="news__info">by <a href="#" class="author">cmsmasters</a> Comments(<a href="#" class="comments">3</a>)</div>
				<div class="news__text">
					<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="panels">
		<h1 class="panels__title">Banners place</h1>
		<div class="panel">
			<div class="panel__title panel__title--active">
				<span class="sign">-</span>
				<span class="panel__titleText">ACCORDION PANEL 1</span>
			</div>
			<div class="panel__text panel__text--active">
				<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
			</div>
		</div>
		<div class="panel">
			<div class="panel__title">
				<span class="sign">+</span>
				<span class="panel__titleText">ACCORDION PANEL 2</span>
			</div>
			<div class="panel__text">
				<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.</p>
			</div>
		</div>
		<div class="panel">
			<div class="panel__title">
				<span class="sign">+</span>
				<span class="panel__titleText">ACCORDION PANEL 3</span>
			</div>
			<div class="panel__text">
				<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.</p>
			</div>
		</div>
		<div class="panel">
			<div class="panel__title">
				<span class="sign">+</span>
				<span class="panel__titleText">ACCORDION PANEL 4</span>
			</div>
			<div class="panel__text">
				<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.</p>
			</div>
		</div>
	</div>
</div>
</div>

<div class="brands">
	<div class="container">
		<ul class="brand">
			<li class="brand__item"><a href="#" id="brand1"></a></li>
			<li class="brand__item"><a href="#" id="brand2"></a></li>
			<li class="brand__item"><a href="#" id="brand3"></a></li>
			<li class="brand__item"><a href="#" id="brand4"></a></li>
			<li class="brand__item"><a href="#" id="brand5"></a></li>
			<li class="brand__item"><a href="#" id="brand6"></a></li>
		</ul>
	</div>
</div>