//background-color
$white-bg: #fff;
$whiteText: #fff;
$main-bg: #f7f7f7;
$darck-bg: #2a2d32;
$darckFont: #2a2d32;
$darck-border: 1px solid #181a1d;
$blueHover: #248cec;
$grayFont: #9d9d9d;
$blueFont: #0187f4;
$dayFont: #2a2b2e;
$yellowBg: #f4b60d;
$grayBorder: 1px solid #e8e8e8;
$grayBorder2: 2px solid #e8e8e8;
$yellowBorder: 1px solid #f6c53d;
$darkGrayText: #5d6063;
$darcBg: #35383c;
$listBorder: 1px solid #393c40;

$UbuntuCond: 14px 'Ubuntu Condensed Regular';
$Ubuntu90: 90px 'Ubuntu Medium';
$Ubuntu24: 24px 'Ubuntu Medium';
$Ubuntu20: 20px 'Ubuntu Medium';
$Ubuntu18: 18px 'Ubuntu Medium';
$Ubuntu16: 16px 'Ubuntu Medium';
$Ubuntu15: 15px 'Ubuntu Medium';
$Ubuntu13: 13px 'Ubuntu Medium';
