
*, *:before, *:after { 
	box-sizing: border-box;
}

a { 
	transition: all 0.3s linear 0s;
	text-decoration: none;
}



@import "partials/reset.css";

@import "_var.scss";

@import "_mixin.scss";
 
@import "partials/jcarousel.basic.css";

@import "sprite.scss";

@import "_svgSprite.scss";

@import "font.css";

@import "partials/_header.scss";

@import "partials/_section.scss";

@import "partials/_main.scss";

@import "partials/_footer.scss";