
*, *:before, *:after { 
	box-sizing: border-box;
	transition: all 0.3s linear 0s;
}

a { 
	text-decoration: none;
}

.container{
	max-width: 1160px;
	margin: 0 auto;
	font: 13px ArialMT, Arial, sans-serif;
}

@import "partials/reset.css";

@import "_var.scss";

@import "_mixin.scss";
 
@import "partials/jcarousel.basic.css";

@import "sprite.scss";

@import "font.css";

@import "partials/_header.scss";

@import "partials/_section.scss";

@import "partials/_main.scss";

@import "partials/_footer.scss";