section{
	background-color: $darck-bg;
}

figure{
	margin: 0;
}

.services{
	@include flexbox();
	justify-content: space-between;
	padding-bottom: 72px;

	&__title{
		padding-top: 48px;
		h1{
			font: $Ubuntu24;
			color: $whiteText;
			margin-bottom: 55px;
		}	
	}
}

.service{
	width: 260/1160*100%;

	&__link{
		position: relative;
		display: inline-block;
		&:hover .service__caption{
			color: #f4b60d;
		}

		.hoverDiv{
			position: absolute;
			top: 0;
			left: 0;
			background-color: $hoverDivColor;
			width: 100%;

			&__vertLine{
				position: relative;
				top: 50%;
				left: 50%;
				margin-top: -17.5px;
				margin-left: -1.5px;
				height: 35px;
				width: 3px;
				background-color: #FFF;
			}

			&__horLine{
				@extend .hoverDiv__vertLine;
				height: 3px;
				width: 35px;
				margin-top: -19px;
				margin-left: -17.5px;
			}
		}
		
	}
	
	&__img{
		width: 100%;
	}

	&__caption{
		text-align: center;
		font: $Ubuntu16;
		color: $whiteText;
		margin-top: 35px;
	}
}